/* COMMON STYLES: */
@import url("../css/components/shared-components/header.css");
@import url("../css/components/shared-components/footer.css");
@import url("../css/components/shared-components/buttons.css");


/* HOMEPAGE STYLES: */
@import url("../css/components/homepage/hero.css");
@import url("../css/components/homepage/influential-people.css");
@import url("../css/components/homepage/features-section.css");



:root {
    --ff: "Inter", sans-serif;
    --buttonColor01: #1c1b66;
    --bg01: #fefefe;
    --bg02: #47ccdf;
    --bg03: #cdf8fe;
    --textColor01: #151515;
    --textColor02: #ffffff;
    --textColor03: #181554;
    --textColor04: #717171;
    --categoriesTextColor: #1b3dc5;
    --headingColor01: #235549;
}


