@import url("../css/sections/header.css");
@import url("../css/sections/hero.css");
@import url("../css/sections/influential-people.css");
@import url("../css/sections/features-section.css");


:root {
    --ff: "Inter", sans-serif;
    --buttonColor01: #1c1b66;
    --bg01: #fefefe;
    --bg02: #47ccdf;
    --bg03: #cdf8fe;
    --textColor01: #151515;
    --textColor02: #ffffff;
    --textColor03: #181554;
    --categoriesTextColor: #1b3dc5;
    --headingColor01: #235549;
}
