
.button__style {
  background: var(--buttonColor01);
  color: var(--textColor02); 
  border-radius: 2px;
  padding: 14px;
  cursor: pointer;
  text-decoration: none;
  font-size: .9rem;
}

.button__style:hover{
background: rgb(86, 209, 215);
}