
nav {
padding: 18px 40px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ff);
}

.header-nav-left-container {
    display: flex;
    align-items: center;
    flex-basis: 170px;
    justify-content: space-between;
}

.header-nav-left__menu {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
}
.header-nav-left__menu a {
    font-size: 0.9rem;
    color: var(--textColor01);
    text-decoration: none;
}

.header-nav__menu-mobile {
    display: none;
}

.mobile-menu {
display: none;  
} 

/* <<<<<<<<< MEDIA QUERIES >>>>>>>>>> */

@media(max-width: 700px) {

/* hamburger menu icon */
.mobile-menu {
    display: inline-block;
    background: none;
    cursor: pointer;
} 

.header-nav-left__menu {
    display: none;
}

.header-nav-scheduling__button {
    display: none;
}

}