.header-nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 24px 60px 0 60px;
    font-family: var(--ff);
}

.header-nav-left__logo {
    border: 1px solid orange;
}

.header-nav-left-container {
    display: flex;
    align-items: center;
    flex-basis: 170px;
    justify-content: space-between;
}

.header-nav-left__menu {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
}
.header-nav-left__menu a {
    font-size: 0.9rem;
    color: var(--textColor01);
    text-decoration: none;
}

.header-nav__menu-mobile {
    display: none;
}

.header-nav-scheduling__button {
    background: var(--buttonColor01);
    color: var(--textColor02);
    padding: 14px;
    border-radius: 2px;
}
